*{
    margin: 0;
}
header{
    /* margin-top: 0px; */
    display: flex;
   
    background-image: url("banner2.png");

background-size: cover;    height: 700px;
   width: 100%;
   
}
.im{
    height: 300px;
    width: 200px;
    margin-top: 5px;
}
.btn{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    margin: auto;
    height: 44px;
    width: 150px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    cursor: pointer;

}
.btn1{
    height: 30px;
    width: auto;
    padding: 5px;
    background-color: orangered;
    font-size: 18px;
    border-radius: 5px;
    
    border: none;
}
.btn2{
    background-color:orangered;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    height: 30px;
    width: auto;
    border-radius: 5px;
}

main{
    height: 800px;
    width: 100%;
}
.text{
     
    margin-top:120px ;
    margin-left:800px;
    margin-right: 120px;
    margin-bottom: 100px;
    padding-right: 10px;
    text-align: right;
    }
    .text2{
        font-size: 18px;
        margin-top: 5px;
        margin-left: 150px;
    }
    .discribe{
        margin-top: 20px;
        font-size: 18px;
    }
    .div1{
        display: flex;
        align-items: center;
        margin-left: 150px;
        margin-top: 10px;
       
        }
    
    .ul1{
        margin-top: 10px;
    }
    .icon{
        display: flex;
        justify-content: space-around;
        margin-left: 70px;
        margin-right: 70px;
        align-items: center;
        margin-top: 5px;
        

    }
    .plan{
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
    }
    .indor{
        background-image: url("images/watch.png");
        background-size: cover;
        height: 150px;
        width: 100%;
        margin-left: 100px;
        margin-top: 50px;
       margin-right: 150px;
        margin-bottom: 250px;
       padding: 70px;
       backface-visibility: visible;
    }
    .positive{
        margin-top: 10px;
        color: black;

    }
    .image-icon{
        height:40px;
        width: 40px;
    }
    footer{
        
        
        background-color: black;
        height: 200px;
        width: 100%;
        margin-top: 40px;
    }
    
    
.last{
    display: flex;
    justify-content: space-around;
    color: white;
  

}
.last-icons{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

