.btn{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    margin: auto;
    height: 44px;
    width: 150px;
    font-size: 20px;
    color: white;

}
.im{
    height: 800px;
    width: 600px;
}
header{
    margin-top: 0px;
    display: flex;
   
    background-image: url("banner2.png");
   height: 800px;
   width: 1600px;
   
}
.text{
     
    margin-top:200px ;
    margin-left:800px;
    margin-right: 100px;
    margin-bottom: 200px;
    padding-right: 10px;
    
   
    
    
}